@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 700;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  input:required, textarea:required, select:required {
    border : solid 1px orange;
  }

  .required::after {
    content: "*";
    color: orange;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #archived-label {
      font-size: 1rem;
      position: relative;
        top: -10px;
        display: inline-block;
        padding-left: 5px;
  }

.save-container {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5rem 1rem;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
} 

.save-container input {
  float: right;
}