/* Futura PT */
@import url("https://use.typekit.net/yok0pmw.css");

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
 * Screen sizes steps : 576px - 768px - 992px - 1200px
 */

/* Colors */
:root {
    --true-white: #ffffff;
    --faded-white: #fafafa;

    --primary-red: #AE0000;
    --secondary-red: #C72400;
    --third-red: #710b00;

    --rgb-primary-red: 174, 0, 0;
    --rgb-secondary-red: 199, 36, 0;
    --rgb-third-red: 113, 11, 0;

    --rgb-primary-black: 43, 35, 35;

    --primary-black: #2B2323;
    --secondary-black: #696969;

    --true-black: #000000;

    --main-menu-height: 10vh;
}

html {
    color: var(--primary-black);
    scroll-behavior: smooth;

}

body {
    background-color: var(--faded-white);
    min-height: 100vh;
    margin: 0;

    overflow-x: hidden;

    display:grid;
    grid-template-rows: 10vh 1fr auto;
}

.color-primary {
    color: var(--primary-red)!important;
}

.bg-dark {
    background-color: var(--primary-black)!important;
}

.bg-dark p, .bg-dark h2, .bg-dark h3 {
    color: var(--true-white);
}

/* Gradient */

/*background: linear-gradient(135deg, 
    rgb(var(--rgb-primary-red)) 0%, 
    rgb(var(--rgb-secondary-red)) 50%, 
    rgb(var(--rgb-third-red)) 100%
);*/

/* Boostrap edits */ 
.container {
    padding: 0 15px;
}

@media (min-width: 576px) {.container {max-width: 700px; padding: 0 30px;}}

@media (min-width: 768px) {.container {max-width: 920px; padding: 0 50px;}}

@media (min-width: 992px) {.container {max-width: 1040px; padding: 0 50px;}}

@media (min-width: 1200px) {.container {max-width: 1320px; padding: 0 50px;}}


.row {
    margin-right: -15px;
    margin-left: -15px;
}
/* 
 * General display corrections and adaptations
 */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
    padding: 0;
}
/* Font families */

h1 {
    font-family: futura-pt-bold, 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 80px;
    line-height: 110%;
}

h2 {
    font-family: futura-pt-bold, 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 48px;
    line-height: 110%;
}

h3 {
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 24px;
    line-height: 100%;
}

h3.all-caps {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h3 > .number {
    font-size: 48px;
}

h4 {
    font-family: futura-pt-bold, 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 16px;
    line-height: 21px;
}

h5 {
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

p, a {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 160%;
}

button, input, optgroup, select, textarea {
    font-family: futura-pt, 'Poppins', sans-serif;
} 

a:hover {
    color: var(--primary-red);
    text-decoration: none;
    transition: color 0.2s linear;
}

.no-cap {
    text-transform: none!important;
}

/* Font families mobile */
@media (max-width: 991px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 15px;
    }
    
    p, a {
        font-size: 14px;
    }
}

/* CSS for small components, like buttons or inputs */ 

/* Curves */
.curve {
    z-index: -1;
}

.curve-small-top, .curve-small-bottom,
.curve-medium-top, .curve-medium-bottom {
    position: relative;
    z-index: 1;
}

.curve-small-top,
.curve-medium-top {
    top: -1px;
}

.curve-small-bottom,
.curve-medium-bottom {
    bottom: -1px;
}

.curve-small-top, .curve-small-bottom {
    height: 10vh;
}

.curve-small-bottom {
    margin-top: -10vh;
}

.curve-small-top {
    margin-bottom: -10vh;
}

.curve-medium-top, .curve-medium-bottom {
    height: 20vh;
}

.curve-medium-top {
    margin-bottom: -20vh;
}

.curve-medium-bottom {
    margin-top: -20vh;
}

/* Curves animations */
@keyframes comeFromLeft {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes comeFromRight {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}

.enters-from-right > svg {
    display: block;
    transform-origin: right;
    animation: comeFromRight 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.enters-from-left > svg {
    display: block;
    transform-origin: left  ;
    animation: comeFromLeft 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
/* .Curves animations */

/* Contact Curves */
.curve-bottom-container {
    width: 100%;
    height: 20vh;
    margin-top: -20vh;
    position: relative;
}

.curve-top-container {
    width: 100%;
    height: 20vh;
    margin-bottom: -20vh;
    position: relative;
}

.curve-bottom {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}

.curve-top {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* .contact curves */
/* .Curves */

.dash-black {
    display: block;
    width: 100px;
    height: 2px;
    background-color: var(--primary-black);
}

.red-dot::after {
    content: ".";
    color: var(--primary-red)!important;
}

.black-dot::after {
    content: ".";
    color: var(--primary-black)!important;
}


/* Color classes */
.color-red {
    color: var(--primary-red)!important;
}


/* Buttons */
.btn {
    border: solid 2px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    padding: 10px 20px;
    transition: background 0.8s ease-in-out;
    transition: color 0.2s linear;
}

.btn-sm {
    font-size: .875rem;
}

.btn-100 {
    width: 100%;
}

.btn-primary {
    background: var(--primary-red);
    border-color: var(--primary-red);
    color: var(--true-white);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: var(--true-white);
    border-color: var(--primary-red);
    color: var(--primary-red);
}

.btn-secondary {
    background: transparent;
    border-color: var(--primary-red);
    color: var(--primary-black);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background: var(--primary-red);
    border-color: var(--primary-red);
    color: var(--true-white);
}

.btn-white {
    background-color: var(--true-white);
    color: var(--primary-red);
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-outline-black {
    border: solid 1px var(--primary-black);
    transition: all 0.2s ease-in-out;
}

.btn-outline-black:hover, .btn-outline-black:focus, .btn-outline-black:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-outline-white {
    border: solid 1px var(--true-white);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-outline-red {
    border: solid 1px var(--primary-red);
    color: var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-outline-red:hover, .btn-outline-red:focus, .btn-outline-red:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-black {
    background-color: var(--primary-black);
    border: solid 1px var(--primary-black);
    /*padding: 15px 20px;
    border-radius: 30px;*/
    color: var(--true-white); 
    transition: all 0.3s ease-in-out;  
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white)!important;
    border: solid 1px var(--primary-red);
    transition: all 0.3s ease-in-out;  
}

#contact-btn {
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 100;
}

#contact-btn>a {
    background-color: var(--true-white);
    color: var(--primary-red);
    width: 60px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-items: center;
    font-size: 28px;
    border-radius: 40px;
    border: 3px solid var(--primary-red);
    text-align: center;
    line-height: 30px;
    padding: 10px;

    overflow: hidden;
    white-space: nowrap;

    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#contact-btn>a>i {
    line-height: 35px;
    padding-left: 4px;
}

#contact-btn>a:hover {
    color: var(--true-white);
    background-color: var(--primary-red);
    width: 250px;
    padding: 10px;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#contact-btn>a:hover::after {
    content: "nous contacter ";
    font-size: 24px;
    padding-left: 10px;
}

@media (max-width: 991px) {
    .curve-small-top, .curve-small-bottom {
        height: 7vh;
    }
    
    .curve-small-bottom {
        margin-top: -7vh;
    }
    
    .curve-small-top {
        margin-bottom: -7vh;
    }
    
    .curve-medium-top, .curve-medium-bottom {
        height: 15vh;
    }
    
    .curve-medium-top {
        margin-bottom: -15vh;
    }
    
    .curve-medium-bottom {
        margin-top: -15vh;
    }
}
footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: var(--primary-black);
    color: var(--true-white);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h4 {
    font-size: 14px;
    text-transform: none;
    margin-bottom: 10px;
}

footer ul>li, footer ul>li>a {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.05em;
}

/* Footer top */

#footer-top>div:first-of-type {
    display: flex; 
}

#footer-top img {
    max-width: 80px;
}

#footer-cta {
    padding-left: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}


/* Footer bottom */

#footer-bottom {
    padding-top: 30px;
    align-items: flex-end
}

#footer-bottom i, #footer-bottom p, #footer-bottom a {
    font-size: 14px;
    margin: 0;
}

#footer-icons-list {
    display: flex;
    margin: 0;
}

#footer-icons-list>li {
    margin: 0;
}

#footer-icons-list i{
    padding-right: 20px;
}


@media (max-width: 767px) {
    footer h4 {
        margin-top: 5vh;
    }

    footer h4:first-of-type {
        margin-top: 0;
    }

    #footer-top img {
        max-width: 60px;
        margin-bottom: 3vh;
    }

    #footer-bottom p {
        opacity: 0.5;
    }

    #footer-top>div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #footer-icons-list {
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    #footer-icons-list i {
        padding: 3vh;
    }
}
nav {
    width: 100vw;
    background-color: var(--true-white);
    height:  var(--main-menu-height);
    position: sticky;
    z-index: 100;
    top: 0;
}

#burger-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    color: var(--true-black);
}

#burger-menu .fa-times {
    display: none;
}

#burger-menu .fa-align-right {
    display: block;
}

#burger-menu > i {
    font-size: 28px;
}

#burger-menu::after {
    content: "menu";
    font-size: 8px;
    text-transform: uppercase;
}

#burger-menu.open::after {
    content: "fermer";
}

#burger-menu.open .fa-times {
    display: block;
}

#burger-menu.open .fa-align-right {
    display: none;
}

/* Nav logo */ 
nav>.container, nav .logo {
    height: 100%;
}

nav>.container {
    display: flex;
    vertical-align: middle;
}

nav .logo {
    width: 25%;
    display:flex;
    align-content: center;
}

nav .logo img {
    height: auto;
    max-width: 200px;
    max-height: 40px;
    align-self: center;
}

/* /Nav logo */ 

/* Nav menu */ 
nav .main-menu {
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

#menu>li {
    height: 100%;
    display: flex;
    align-content: center;
    padding: 0 1rem;
}

#menu>li>a:not(.btn) {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;

    display: flex;
    height: 100%;
    align-items: center;
}

nav .menu-cta {
    display: flex;
    align-items: center;
}

nav .menu-cta > a{
    font-size: 16px;

}

#menu>li>a:hover, #menu>li>a:active {
    color: var(--primary-red);
    text-decoration: none;
}

/* Sub-menu */

nav .sub-menu:hover>.sub-menu-box, nav .sub-menu>.sub-menu-box:hover {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out,
        visibility 0.1s linear;
}
nav .sub-menu>.sub-menu-box {
    opacity: 0;
    display:block;
    visibility: hidden;
    position: absolute;
    top: var(--main-menu-height);
    left: 0;
    width: 100%;
    background: var(--true-white);
    transition: opacity 0.3s ease-in-out,
    visibility 0.1s linear;
}

nav .sub-menu ul {
    padding-top: 20px;
    padding-bottom: 20px;

    /* Inner shadow */ 
    -moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
}

nav .sub-menu ul li>a {
    font-weight: 600;
    font-size: 16px;
}

nav .sub-menu ul li:not(.sub-menu-title) {
    padding-top: 12px;
}

nav .sub-menu ul li:not(.sub-menu-title)>a::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f054";
    margin-left: 10px;
    font-size: 75%;
}

nav .sub-menu .sub-menu-title {
    text-transform: uppercase;
    color: var(--secondary-black);
    border-bottom: 2px solid var(--primary-red);
    padding-bottom: 3px;
}

nav .sub-menu .sub-menu-title>a {
    letter-spacing: 0.1em;
    line-height: 100%;
}

.sub-menu>a::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f078";
    margin-left: 5px;
    font-size: 75%;
}

/* Social icons */
#socials {
    display: flex;
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 25px;
    flex-direction: column;
    text-align: right;
}

#socials > a {
    margin-bottom: 10px;
    font-size: 20px;
}

#socials .fa-circle {
    color: var(--primary-black);
    transition: color 0.2s ease-in-out;
   
}

#socials > a > .social-text-container {
    position: absolute;
    right: 20px;
    width: 300px;
    overflow: hidden;
    margin-top: 2px;
}

#socials > a small {
    position: relative;
    right: -500px;
    transition: right 0.5s ease-in-out;
    background-color: var(--true-white);
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    padding: 5px 15px;
}

#socials > a:hover small {
    right: 15px;
    transition: right 0.5s ease-in-out;
    color: var(--primary-black);
}

#socials>a:hover .fa-circle {
    color: var(--primary-red);
    transition: color 0.2s ease-in-out;
}

/* /Nav menu */ 

/* Categories menu */ 
#cat-menu {
    display: flex;
    height: 5vh;
    position: sticky;
    z-index: 100;
    top: var(--main-menu-height);
}

#cat-menu > .container {
    overflow: hidden;
    padding-right: 0px;
}

#cat-menu ul {
    display: flex;
    padding: 0;
    overflow-x: scroll;
    margin: 0;
}

#cat-menu ul > li > a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--primary-black);
    opacity: 0.7;
    padding: 0 15px;
    margin: 0 10px;
    border-radius: 15px;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

#cat-menu ul > li > a.selected, #cat-menu ul > li > a:hover {
    background-color: var(--primary-black);
    color: var(--true-white);
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

/* /Categories menu */ 

/* Tablette */ 
@media (max-width: 1199px) {
    nav .logo {
        width: 20%;
    }
    nav .logo img {
        max-height: 30px;
    }

}

/* ############ Mobile ############# */
@media (max-width: 991px) { 
    #socials > a > .social-text-container {
        display: none;
    }
    nav .logo {
        width: 100%;
    }

    #menu>li>a:not(.btn) {
        font-size: 18px;
    }

    /* Burger menu */ 
    #burger-menu {
        display: flex;
    }

    #burger-menu.open + #menu {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }

    #menu {
        position: fixed;
        width: 100vw;
        top: var(--main-menu-height); /* 12vh */
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        min-height: 88vh;
        flex-direction: column;
        justify-content: normal;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
        background-color: var(--true-white);

        transform: translateX(100vw);
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
        overflow-y: scroll;
    }

    #menu > li {
        height: auto;
        width: 100%;
        margin: 0;
        border-bottom: 1px #868686 solid;
        background-color: var(--true-white);
        padding-left: 0;
    }

    #menu > li:last-of-type {
        border-bottom: none;
        padding-top: 20px;
    }

    #menu > li > a {
        width: 100%;
        max-height: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #menu .sub-menu > a::after {
        transform: rotate(-90deg);
        transition: transform 0.2s ease-in-out;
    }

    #menu .sub-menu > a.deployed::after {
        transform: rotate(0);
        transition: transform 0.2s ease-in-out;
    }

    nav .sub-menu {
        flex-direction: column;
    }

    nav .sub-menu>.sub-menu-box {
        opacity: 1;
        visibility: visible;
        display: block;
        position: relative;
        top: 0;
        left: 0;

        height: 0px;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    #sub-menu-btn.deployed {
        max-height: 60px;
    }

    #sub-menu-btn.deployed + .sub-menu-box {
        height: 100%;  
        transition: height 0.5s ease-in-out; 
    }

    nav .sub-menu>.sub-menu-box > .container {
        padding: 0;
    }

    nav .sub-menu ul {
        box-shadow: none;
        padding-top: 0;
    }

    .sub-menu-title {
        padding-top : 10px;
    }

    nav .sub-menu ul li:not(.sub-menu-title)>a::after {
        content: "";
    }

    #socials {
        display: flex;
        position: initial;
        z-index: 100;
        flex-direction: row;
        width: 100%;
        margin-top: 20px;
    }

    #socials > a {
        margin-bottom: 0;
        margin-right: 10px;
    }

    #socials > a > small {
        display: none;
    }

}
#contact {
    background-color: var(--primary-red);
    background: linear-gradient(135deg, 
        rgb(var(--rgb-primary-red)) 0%, 
        rgb(var(--rgb-secondary-red)) 50%, 
        rgb(var(--rgb-third-red)) 100%
    );

    height: 100vh;
    width: 100vw;

    display:flex;
    align-items: center;
}

#contact h2, #contact h3, #contact h4, #contact p {
    color: var(--true-white);
}

#contact h4 {
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0.1em;
}


#contact h2 {
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 400;
}

#contact-intro {
    margin-left: 80px;
}

#contact .page {
    max-width: 50%;
    margin-left: 80px;
    z-index: 10;
}

#contact .btn-fa-white, #contact .btn[type="submit"] {
    background-color: transparent;
    border: solid 1px var(--true-white);
    color: var(--true-white);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 28px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#contact .btn-fa-white:hover, #contact .btn-fa-white:focus {
    background-color: var(--true-white);
    color: var(--primary-red);
    transition: all 0.2s ease-in-out;
}

#contact #send-btn {
    width: auto;
    font-size: 20px;
    padding: 0 40px;
}

#contact .page input:not([type='submit']) {
    outline: none;
    border: none;
    background: transparent;
    color: var(--true-white);
    font-size: 42px;
    font-weight: bold;
}

#contact .page textarea {
    outline: none;
    border: none;
    background: transparent;
    color: var(--true-white);
    font-size: 20px;
    width: 100%;
    min-height: 200px;
}

#contact .page input::placeholder, #contact .page textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.focus-input {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 0;
    left: 2px;
    pointer-events: none;
    background: var(--true-white);
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--primary-black);
    transition: all 0.5s ease-in-out;
}

#contact .page input:focus+.focus-input::before,
#contact .page textarea:focus+.focus-input::before {
    width: 100%;
}

#contact .navigation {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#contact .slider {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

#contact .slider h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: futura-pt, 'Poppins', sans-serif;
}

#contact .slider>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    margin-left: 40px;
    border-bottom: solid 2px var(--true-white);
    z-index: 0;
    width: 100%;
    height: 10px;
}

#contact .slider > ul > li > a {
    color: var(--true-white);
    display: block;
    background-color: var(--secondary-red);
    border-radius: 100%;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    top: -1px;
}

#contact .slider > ul > li:last-of-type > a {
    right: -1px;
}

#return-button > a {
    background-color: var(--true-white);
    color: var(--primary-black);
    font-size: 24px;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#return-button > a:hover, #return-button > a:focus {
    background-color: var(--primary-red);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}

#curve-top {
    position:absolute;
    top: 0;
    left: 0;
    height: 20vh;
}

#curve-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50vh;
    z-index: 0;
}

#step0 a {
    margin-top: 30px;
    padding: 8px 30px;
}

#contact .checkbox-row {
    width: 180%;
    margin-top: 4vh;
} 

#contact .checkbox {
    display: flex;
    align-items: center;
}

#contact .checkbox input {
    position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}


#contact .checkbox label {
    font-family: 'Poppins', sans-serif;
    position: relative;
	display: inline-block;
    background-color: var(--true-white);
    color: var(--primary-red);
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

#contact .checkbox input:hover + label,
#contact .checkbox input:focus + label {
    background-color: var(--primary-red);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}

#contact .checkbox input:checked + label {
    border: solid var(--true-white) 2px;
    background-color: var(--primary-red);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}


@media (max-width: 991px) {
    #contact .page {
        max-width: inherit;
        margin-left: 0;
    }

    #contact .slider {
        flex-direction: column-reverse;
    }

    #contact .slider ul {
        margin-left: 0;
    }

    #contact .slider h4 {
        margin-top: 30px;
        text-align: center;
    }

    #contact .page input:not([type='submit']) {
        font-size: 32px;
    }

    #contact .btn-fa-white, #contact .btn[type="submit"] {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

    #contact .checkbox-row {
        width: auto;
    } 

    #curve-top {
        position:absolute;
        top: 0;
        left: 0;
        height: 15vh;
    }
    
    #curve-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 20vh;
        z-index: 0;
    }
}

@media (max-width: 767px) {
    #contact-intro {
        margin-left: auto;
    }

    #contact-intro .btn {
        width: 100%;
        margin-left: 0!important;
        margin-bottom: 15px;
    } 
}
#map-container {
    width: 100vw;
    height: 700px;
}

#map {
    width: 100vw;
    height: 700px;
    z-index: -10;
}

.leaflet-control-attribution a {
    font-size: 12px;
}
.maintenance-page h2 {
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 400;
}

.maintenance-page h3 {
    color: var(--primary-red);
}

/* Sections */
#maintenance-header {
    padding-top: 10vh;
    padding-bottom: 15vh;
    display:block;
    position: relative;
}

#maintenance-header::after {
    background-position: center;
    background-size: cover;
    content: "";
    background-image: url('/storage/layout/maintenance.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

#maintenance-title {
    font-size: 68px;
    line-height: 100%;
    letter-spacing: 0.03em;
}

#maintenance-desc {
    padding : 10vh 0;
}

#maintenance-desc .buttons {
    margin-top: 5vh;
}

#cta {
    background-color: var(--primary-red);
    color: var(--true-white);
}

#cta .cta-content {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.cta-content h2,
.cta-content h3  {
    margin-bottom: 3vh;
}

#cta .btn-outline-white:hover,
#cta .btn-outline-white:focus {
    background-color: var(--true-white);
    border: 1px solid;
    color: var(--primary-red);
    transition: all 0.2s ease-in-out;
}

/* Mobile */ 
@media (max-width: 991px) {
    #maintenance-header {
        padding-top: 8vh;
        padding-bottom: 10vh;
    }

    #maintenance-title {
        font-size:40px;
        line-height: 110%;
        letter-spacing: 0.05em;
        
    }

    #maintenance-desc {
        padding : 5vh 0;
    }

    #maintenance-desc h3 {
        margin-top: 3vh;
    }

    .buttons .btn {
        width: 100%;
        margin-bottom: 2vh;
    }
}
.fullpage-section {
    min-height: 80vh;
}

/* Animated background */

/*
#animated-bg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    overflow: hidden;
}

#animated-bg > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes appear {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(100px);
    }
}

#animated-bg > #layer1 {
    animation: appear 1.5s ease-in-out forwards;
}

#animated-bg > #layer2 {
    animation: appear 1s ease-in-out forwards;
    opacity: 0.5;
}
*/
#particles-cache {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -9;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, rgba(250,250,250,1) 40%, rgba(255,0,0,0) 90%);
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0
}


/* .Animated background */

#home-page h1 {
    margin-top: 10vh;
}

#home-page h2 {
    margin-bottom: 5vh;
}

#home-page h3 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#home-header p {
    margin: 3vh auto;
}

#home-page section:not(#cta) {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#home-portfolio {
    padding-bottom: 20vh!important;
}

#home-services h3, #home-portfolio h3.all-caps, #home-about h3 {
    margin: 0;
    margin-bottom : .5rem;
}

#home-services-cta {
    padding: 0!important;
}

#home-services-cta .iframe-container {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

#home-services-cta > .content-container {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    height: 90vh;
    background: rgba(var(--rgb-primary-black), 0.5);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#home-services-cta .iframe-container iframe {
    width: 100%;
    height: 100%;
}

.btn-home-services {
    font-size: 24px;
    font-family: futura-pt-bold, 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    /*width: 40vw;*/
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-width: 1px;
    border-radius : 100px;
}

.btn-home-services:hover, .btn-home-services:focus {
    background-color: var(--true-white);
    transition: all 0.2s ease-in-out;
    border-color: var(--true-white);
}

/* Projects */ 

.portfolio h3, .portfolio h5, .portfolio a:not(.btn-outline-red) {
    color: var(--primary-black);
}

.portfolio .project h3 {
    font-weight: 500;
    font-size: 35px;
    text-transform: none;
    line-height: 120%;
    margin: 5vh 0;
}

.portfolio .categories {
    margin-bottom: 5vh;
}

.portfolio .categories > .category {
    font-size: 16px;
    font-family: futura-pt, 'Poppins', sans-serif;
    opacity: 0.75;
}

.portfolio .categories > .category::after {
    content: ", ";
}

.portfolio .categories > .category:last-of-type:after {
    content: "";
}

.portfolio .project {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.portfolio .project img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Masonry */
.home-masonry img {
    width: 100%;
}

.home-masonry .two-pics {
    display: flex;
    align-items: flex-end;
}

.home-masonry .one-pic {
    
}
#services-menu {
    position: fixed;
    top: var(--main-menu-height);
    background-color: var(--true-white);
    min-width: 100vw;
    width: 1000px;
    z-index: 10;
    height: 40px;
    display: flex;
    align-items: center;
}

#services-menu ul {
    margin: 0;
    display: flex;
    flex-direction: row;
}

#services-menu ul>li {
    margin-right: 30px;
} 

#services-menu ul>li>a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-black);
    padding: 0 15px;
    border-radius: 10px;
}

#services-menu ul>li>a:hover {
    background-color: var(--primary-black);
    color: var(--true-white);
}

#service-header {
    min-height: 90vh;
    padding-bottom: 15vh;
}

#service-header h1 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#hero-description a {
    margin-top : 40px;
}

#hero-list {

}

#hero-list li {
    margin-left: 74px;
    margin-bottom: 15px;
}

#hero-list li::before {
    display: block;
    position: relative;
    content: "";
    width: 54px;
    top: 20px;
    left: -74px;
    height: 3px;
    background-color: var(--primary-red);
}

#hero-list a {
    font-size: 24px;
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
}

#bouncing-arrow {
    color: var(--primary-red);
    font-size: 50px;
    position: relative;
    bottom: -3rem;
    width: 40px;
    height: 40px;
    transition: color 0.2s ease-in-out;
}

#bouncing-arrow>i {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

#bouncing-arrow:hover, #bouncing-arrow:focus {
    color: var(--primary-black);
}

/* Services */ 

.service {
    padding: 150px 0;
    align-items: center;
}

.service-even {
    flex-direction: row;
}

.service-odd {
    flex-direction: row-reverse;
}

.service h2 {
    margin-bottom: 40px;
}


.service .service-image .image-container {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .service-image img {
    width: 100%;
    height: 100%;
}

.services-second-part {
    margin : 10vh auto;

}

/* Accordions */
.accordion {
    padding: 25px 0;
    border-bottom: 1px solid var(--primary-black);
}

.bg-dark .accordion {
    border-color: var(--true-white);
}

.bg-dark .accordion > h3 > button {
    color: var(--true-white);
}

.accordion > h3 {
    margin: 0;
    margin-right: 15px;
}

.accordion > h3 > button {
    background: transparent;
    border: none;
    font: inherit;
    text-transform: inherit;
    text-align: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.accordion > h3 > button:hover {
    outline: none;
    color: var(--primary-red);
    transition: color 0.2s ease-in-out;
}

.accordion > h3 > button:focus {
    outline: none;
}

.accordion .plus-sign {
    float: right;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
}

.accordion .plus-sign::before {
    content: "\f067";
}

.accordion button[aria-expanded="true"] .plus-sign::before {
    content: "\f068";
    transition: content 0.5s ease-in-out;
}

.accordion-content {
    padding-top: 25px;
    margin: 0;
}

/* Tablette */ 
@media (max-width: 991px) { 

    #hero-list li::before {
        top: 14px;
    }

    #hero-list a {
        font-size: 18px;
    }

    #service-header {
        min-height: auto;
        padding-bottom: 8vh;
    } 

    #service-header h1 {
        padding-top: 8vh;
        padding-bottom: 5vh;
    }

    .service {
        padding: 10vh 0;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .service-even, .service-odd {
        flex-direction: column-reverse;
    }

    #bouncing-arrow {
        display: none;
    }

    #hero-list > ul {
        margin: 5vh 0;
    }

    .service p {
        margin: 0;
    }

    .service .accordion-list {
        margin: 0;
        margin-top: 5vh;
    }

    .service .service-image .image-container {
        max-height: 50vh;
        margin-top: 5vh;
    }
}

/* .Services */


#about-header {
    padding-top: 10vh;
    padding-bottom: 15vh;
}

#about-header h1, #about-page h2 {
    margin-bottom: 5vh;
}

#about-values, #about-team, #about-clients {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#about-values-list > div {
    margin-bottom: 3vh;
}

#about-team h3.name {
    margin-top: 5vh;
    font-size: 36px;
    font-weight: 700;
}

#about-team img {
    max-height: 60vh;
    border-radius: 25px;
    max-width: 66%;
}

#about-clients .client {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

#about-clients .client img {
    max-width: 150px;
    max-height: 100px;
    filter: grayscale(100%);
    padding: 15px;
    width: auto;
    height: auto;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

#about-clients .client a:hover > img {
    opacity: 1;
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
}
#portfolio h3, #portfolio h5, #portfolio a {
    color: var(--primary-dark);
}

#portfolio-header {
    padding-top: 10vh;
    padding-bottom: 15vh;
    display:block;
    position: relative;
}
#project-header {
    padding-top: 10vh;
    padding-bottom: 20vh;
}

#project-header h1, #project-header .categories, #project-header p, #project-header .section-title {
    margin-bottom: 5vh;
}

#project-header .categories > a {
    color: var(--secondary-black)!important;
}

#project-main {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#project-main h3, #project-main p {
    margin-bottom: 5vh;
}

#project-main img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

#project-others {
    padding-top: 15vh;
    padding-bottom: 15vh;
}
@media (max-width: 1199px) {
    #cv-nav .logo {
        width: 10%;
    }
}


#cv h3 {
    margin-bottom: 0;
}

#cv-nav h2 {
    margin: 0;
    display: flex;
    align-items: center;
}

#cv #bouncing-arrow {
    z-index: 10;
}

#cv .name {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 32px;
    font-weight: 700;
}

#profile-picture {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    border-radius: 100%;
    margin-top: 10vh;
}

#intro h1 {
    margin-bottom: 0;
}

#intro h3 {
    margin-top: 0;
}

#intro .dash-black {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#about-me {

}

#studies h4 {
    color: var(--true-white);
    margin: 2vh 0;
}

#studies h3 {
    margin-top: 0;
}

#studies img {
    max-width: 100px;
    margin-bottom: 2vh;
}

#references #note {
    color: var(--true-white);
}

#cv #cta .cta-content {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 10vh;
    margin-bottom: 0;
}

#cv .cta-content h2, #cv .cta-content h3 {
    margin-top: 0;
    margin-bottom: 3vh;
}

#cv #hobbies i {
    color: var(--true-white);
    padding-bottom: 2vh;
}

#cv #hobbies #icons-row {
    justify-content: space-evenly;
}

#cv .progress-title {
    margin-bottom: 0;
    margin-top: 2vh;
}

#cv .progress-bg {
    display: block;
    height: 22px;
    overflow: hidden;
    background-color: var(--true-white);
    border: 2px solid var(--primary-black);
}

@keyframes progress {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

#cv .progress-bar {
    margin-top: -2px;
    margin-left: -2px;
    background-color: var(--primary-red);
    height: 22px;
    border: 2px solid var(--primary-black);
    animation: progress 2s ease-in-out;
    transform-origin: 0% 50%;
}


#cv #competences .bullet-list > .col-6 {
    margin-top: 2vh;
}

#cv #competences .bullet-list p {
    margin: 0;
}

#cv #competences .fa-circle {
    --fa-secondary-color: #AE0000;
    --fa-secondary-opacity: 0;
}

#cv #competences .fa-circle.full {
    --fa-secondary-opacity: 0.8;
}

#cv #competences #office .col-6 {
    margin-top: 5vh;
}

#work-history h3 {
    margin-top : 0;
}

#work-history .exp-data, #work-history .exp-period {
    padding-bottom: 5vh;
}

#work-history .exp-data {
    border-left: solid 3px var(--primary-red);
    padding-left: 30px;
}

#work-history .exp-period {
    padding-right: 30px;
    text-align: right;
}

#work-history .fa-circle {
    position: absolute;
    left: -18px;
    font-size: 32px;
    top: -4px;
    z-index: 10;
    --fa-primary-color: var(--primary-red);
    --fa-secondary-color: #fafafa;
    --fa-secondary-opacity: 1;
}

#cv #portfolio h5 {
    margin: 0;
}

#cv #portfolio h3 {
    margin: 3vh 0;
}

#cv #portfolio p {
    margin-bottom: 5vh;
}

#cv #portfolio img {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#cv #portfolio .btn-outline-black:hover, #cv #portfolio .btn-outline-red:hover {
    color: var(--true-white);
}

#cv #portfolio {
    padding-top: 10vh;
    padding-bottom: 15vh!important;
}

#cv #portfolio .project {
    margin: 10vh 0;
}

@media (max-width: 991px) {
    #cv #intro .row {
        flex-direction: column-reverse;
    }

    #cv #intro .row > div {
        text-align: center;
    }

    #cv #intro .dash-black {
        margin-bottom: 5vh;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
    }

    #cv #profile-picture {
        margin: 0;
    }

    #cv #particles-cache {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -9;
        top: 0;
        left: 0;
        background-image: linear-gradient(
    0deg, rgba(250,250,250,1) 20%, rgba(255,0,0,0) 90%);
    }

    #cv .name {
        font-size: 24px;
    }

    #work-history .fa-circle {
        left: -16px;
        font-size: 28px;
        z-index: 10;
    }

    #work-history .exp-period {
        padding-right: 20px;
        text-align: left;
    }

    #work-history .exp-data {
        border-left: solid 3px var(--primary-red);
        padding-left: 20px;
    }
}