/* CSS for small components, like buttons or inputs */ 

/* Curves */
.curve {
    z-index: -1;
}

.curve-small-top {
    height: 100px;
    margin-top: -100px;
}

.curve-small-bottom {
    height: 100px;
    margin-bottom: -100px;
}

.curve-medium-top {
    height: 200px;
    margin-top: -200px;
}

.curve-medium-bottom {
    height: 200px;
    margin-bottom: -200px;
}


/* Color classes */ 
.red-dot::after {
    content: ".";
    color: var(--primary-red);
}


/* Buttons */
.btn {
    border: solid 2px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    padding: 5px 15px;
    transition: background 0.8s ease-in-out;
    transition: color 0.2s linear;
}

.btn-sm {
    font-size: .875rem;
}

.btn-100 {
    width: 100%;
}

.btn-primary {
    background: var(--primary-red);
    border-color: var(--primary-red);
    color: var(--true-white);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: var(--true-white);
    border-color: var(--primary-red);
    color: var(--primary-red);
}

.btn-secondary {
    background: transparent;
    border-color: var(--primary-red);
    color: var(--primary-black);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background: var(--primary-red);
    border-color: var(--primary-red);
    color: var(--true-white);
}

.btn-white {
    background-color: var(--true-white);
    color: var(--primary-red);
    border: none;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: none;
}

.btn-outline-black {
    border: solid 1px var(--primary-black);
}

.btn-outline-black:hover, .btn-outline-black:focus, .btn-outline-black:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
}

.btn-outline-white {
    border: solid 1px var(--true-white);
    color: var(--true-white);
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
}

.btn-outline-red {
    border: solid 1px var(--primary-red);
    color: var(--primary-red);
}

.btn-outline-red:hover, .btn-outline-red:focus, .btn-outline-red:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
}

.btn-black {
    background-color: var(--primary-black);
    border: solid 1px var(--primary-black);
    /*padding: 15px 20px;
    border-radius: 30px;*/
    color: var(--true-white);   
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white)!important;
    border: solid 1px var(--primary-red);
}

#contact-btn {
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 100;
}

#contact-btn>a {
    background-color: var(--true-white);
    color: var(--primary-red);
    width: 60px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-items: center;
    font-size: 28px;
    border-radius: 40px;
    border: 3px solid var(--primary-red);
    text-align: center;
    line-height: 30px;
    padding: 10px;

    overflow: hidden;
    white-space: nowrap;

    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#contact-btn>a>i {
    line-height: 35px;
    padding-left: 4px;
}

#contact-btn>a:hover {
    color: var(--true-white);
    background-color: var(--primary-red);
    width: 250px;
    padding: 10px;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#contact-btn>a:hover::after {
    content: "nous contacter ";
    font-size: 24px;
    padding-left: 10px;
}

/* Curves */
.curve-bottom-container {
    width: 100%;
    height: 20vh;
    margin-top: -20vh;
    position: relative;
}

.curve-top-container {
    width: 100%;
    height: 20vh;
    margin-bottom: -20vh;
    position: relative;
}

.curve-bottom {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}

.curve-top {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}