/* CSS for small components, like buttons or inputs */ 

/* Curves */
.curve {
    z-index: -1;
}

.curve-small-top, .curve-small-bottom,
.curve-medium-top, .curve-medium-bottom {
    position: relative;
    z-index: 1;
}

.curve-small-top,
.curve-medium-top {
    top: -1px;
}

.curve-small-bottom,
.curve-medium-bottom {
    bottom: -1px;
}

.curve-small-top, .curve-small-bottom {
    height: 10vh;
}

.curve-small-bottom {
    margin-top: -10vh;
}

.curve-small-top {
    margin-bottom: -10vh;
}

.curve-medium-top, .curve-medium-bottom {
    height: 20vh;
}

.curve-medium-top {
    margin-bottom: -20vh;
}

.curve-medium-bottom {
    margin-top: -20vh;
}

/* Curves animations */
@keyframes comeFromLeft {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes comeFromRight {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}

.enters-from-right > svg {
    display: block;
    transform-origin: right;
    animation: comeFromRight 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.enters-from-left > svg {
    display: block;
    transform-origin: left  ;
    animation: comeFromLeft 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
/* .Curves animations */

/* Contact Curves */
.curve-bottom-container {
    width: 100%;
    height: 20vh;
    margin-top: -20vh;
    position: relative;
}

.curve-top-container {
    width: 100%;
    height: 20vh;
    margin-bottom: -20vh;
    position: relative;
}

.curve-bottom {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}

.curve-top {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* .contact curves */
/* .Curves */

/* CTA */
#cta {
    color: var(--true-white);
    background: rgb(174,0,0)!important;
    background: -moz-radial-gradient(circle, rgba(174,0,0,1) 20%, rgba(174,0,0,0) 100%)!important;
    background: -webkit-radial-gradient(circle, rgba(174,0,0,1) 20%, rgba(174,0,0,0) 100%)!important;
    background: radial-gradient(circle, rgba(174,0,0,1) 20%, rgba(174,0,0,0) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae0000",endColorstr="#ae0000",GradientType=1);
}

#cta .cta-content {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.cta-content h2,
.cta-content h3  {
    margin-bottom: 3vh;
}

#cta .btn-outline-white:hover,
#cta .btn-outline-white:focus {
    background-color: var(--true-white);
    border: 1px solid;
    color: var(--primary-red);
    transition: all 0.2s ease-in-out;
}

/* .CTA */

/* Particles JS */
#particles-js-cta {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: -10;
    background: #ae0000;
}

#particles-cta-cache {
    background-image: linear-gradient(
        0deg, rgba(250,250,250,1) 20%, rgba(255,0,0,0) 90%);
    z-index: -9;
}

@media (max-width: 768px) {
    #particles-js-cta {
        height: 100vh;
    }
}
/* .Particles JS */

.dash-black {
    display: block;
    width: 100px;
    height: 2px;
    background-color: var(--primary-black);
}

.red-dot::after {
    content: ".";
    color: var(--primary-red)!important;
}

.black-dot::after {
    content: ".";
    color: var(--primary-black)!important;
}


/* Color classes */
.color-red {
    color: var(--primary-red)!important;
}


/* Buttons */
.btn {
    border: solid 2px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    padding: 10px 20px;
    transition: background 0.8s ease-in-out;
    transition: color 0.2s linear;
}

.btn-sm {
    font-size: .875rem;
}

.btn-100 {
    width: 100%;
}

.btn-primary {
    background: var(--primary-red);
    border-color: var(--primary-red);
    color: var(--true-white);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: var(--true-white);
    border-color: var(--primary-red);
    color: var(--primary-red);
}

.btn-secondary {
    background: transparent;
    border-color: var(--primary-red);
    color: var(--primary-black);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background: var(--primary-red);
    border-color: var(--primary-red);
    color: var(--true-white);
}

.btn-white {
    background-color: var(--true-white);
    color: var(--primary-red);
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-outline-black {
    border: solid 1px var(--primary-black);
    transition: all 0.2s ease-in-out;
}

.btn-outline-black:hover, .btn-outline-black:focus, .btn-outline-black:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-outline-white {
    border: solid 1px var(--true-white);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-outline-red {
    border: solid 1px var(--primary-red);
    color: var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-outline-red:hover, .btn-outline-red:focus, .btn-outline-red:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white);
    border: solid 1px var(--primary-red);
    transition: all 0.2s ease-in-out;
}

.btn-black {
    background-color: var(--primary-black);
    border: solid 1px var(--primary-black);
    /*padding: 15px 20px;
    border-radius: 30px;*/
    color: var(--true-white); 
    transition: all 0.3s ease-in-out;  
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
    background: rgb(var(--rgb-primary-red));
    color: var(--true-white)!important;
    border: solid 1px var(--primary-red);
    transition: all 0.3s ease-in-out;  
}

#contact-btn {
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 100;
}

#contact-btn>a {
    background-color: var(--true-white);
    color: var(--primary-red);
    width: 60px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-items: center;
    font-size: 28px;
    border-radius: 40px;
    border: 3px solid var(--primary-red);
    text-align: center;
    line-height: 30px;
    padding: 10px;

    overflow: hidden;
    white-space: nowrap;

    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#contact-btn>a>i {
    line-height: 35px;
    padding-left: 4px;
}

#contact-btn>a:hover {
    color: var(--true-white);
    background-color: var(--primary-red);
    width: 250px;
    padding: 10px;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#contact-btn>a:hover::after {
    content: "nous contacter ";
    font-size: 24px;
    padding-left: 10px;
}

@media (max-width: 991px) {
    .curve-small-top, .curve-small-bottom {
        height: 7vh;
    }
    
    .curve-small-bottom {
        margin-top: -7vh;
    }
    
    .curve-small-top {
        margin-bottom: -7vh;
    }
    
    .curve-medium-top, .curve-medium-bottom {
        height: 15vh;
    }
    
    .curve-medium-top {
        margin-bottom: -15vh;
    }
    
    .curve-medium-bottom {
        margin-top: -15vh;
    }
}