#contact {
    background-color: var(--primary-red);
    background: linear-gradient(135deg, 
        rgb(var(--rgb-primary-red)) 0%, 
        rgb(var(--rgb-secondary-red)) 50%, 
        rgb(var(--rgb-third-red)) 100%
    );

    height: 100vh;
    width: 100vw;

    display:flex;
    align-items: center;
}

#contact h2, #contact h3, #contact h4, #contact p {
    color: var(--true-white);
}

#contact h4 {
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0.1em;
}


#contact h2 {
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 400;
}

#contact .page {
    max-width: 50%;
    margin-left: 80px;
    z-index: 10;
}

#contact .btn-fa-white, #contact .btn[type="submit"] {
    background-color: transparent;
    border: solid 1px var(--true-white);
    color: var(--true-white);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 28px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#contact .btn-fa-white:hover, #contact .btn-fa-white:focus {
    background-color: var(--true-white);
    color: var(--primary-red);
    transition: all 0.2s ease-in-out;
}

#contact #send-btn {
    width: auto;
    font-size: 20px;
    padding: 0 40px;
}

#contact .page input:not([type='submit']) {
    outline: none;
    border: none;
    background: transparent;
    color: var(--true-white);
    font-size: 42px;
    font-weight: bold;
}

#contact .page textarea {
    outline: none;
    border: none;
    background: transparent;
    color: var(--true-white);
    font-size: 20px;
    width: 100%;
    min-height: 200px;
}

#contact .page input::placeholder, #contact .page textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.focus-input {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 0;
    left: 2px;
    pointer-events: none;
    background: var(--true-white);
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--primary-black);
    transition: all 0.5s ease-in-out;
}

#contact .page input:focus+.focus-input::before,
#contact .page textarea:focus+.focus-input::before {
    width: 100%;
}

#contact .navigation {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#contact .slider {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

#contact .slider h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: futura-pt, 'Poppins', sans-serif;
}

#contact .slider>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    margin-left: 40px;
    border-bottom: solid 2px var(--true-white);
    z-index: 0;
    width: 100%;
    height: 10px;
}

#contact .slider > ul > li > a {
    color: var(--true-white);
    background-color: var(--primary-red);
    border-radius: 100%;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    top: -1px;
}

#contact .slider > ul > li:last-of-type > a {
    right: -1px;
}

#return-button > a {
    background-color: var(--true-white);
    color: var(--primary-black);
    font-size: 24px;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#return-button > a:hover, #return-button > a:focus {
    background-color: var(--primary-red);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}

#curve-top {
    position:absolute;
    top: 0;
    left: 0;
    height: 20vh;
}

#curve-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50vh;
    z-index: 0;
}

#step0 a {
    margin-top: 30px;
    padding: 8px 30px;
}

#contact .checkbox-row {
    width: 150%;
    margin-top: 4vh;
} 

#contact .checkbox {
    display: flex;
    align-items: center;
}

#contact .checkbox input {
    position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}


#contact .checkbox label {
    font-family: 'Poppins', sans-serif;
    position: relative;
	display: inline-block;
    background-color: var(--true-white);
    color: var(--primary-red);
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

#contact .checkbox input:hover + label,
#contact .checkbox input:focus + label {
    background-color: var(--primary-red);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}

#contact .checkbox input:checked + label {
    border: solid var(--true-white) 2px;
    background-color: var(--primary-red);
    color: var(--true-white);
    transition: all 0.2s ease-in-out;
}


@media (max-width: 991px) {
    #contact .page {
        max-width: inherit;
        margin-left: 0;
    }

    #contact .slider {
        flex-direction: column-reverse;
    }

    #contact .slider ul {
        margin-left: 0;
    }

    #contact .slider h4 {
        margin-top: 30px;
        text-align: center;
    }

    #contact .page input:not([type='submit']) {
        font-size: 32px;
    }

    #contact .btn-fa-white, #contact .btn[type="submit"] {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

    #contact-intro .btn {
        width: 100%;
        margin-left: 0!important;
        margin-bottom: 15px;
    } 

    #contact .checkbox-row {
        width: auto;
    } 

    #curve-top {
        position:absolute;
        top: 0;
        left: 0;
        height: 15vh;
    }
    
    #curve-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 20vh;
        z-index: 0;
    }
}