@media (max-width: 1199px) {
    #cv-nav .logo {
        width: 10%;
    }
}


#cv h3 {
    margin-bottom: 0;
}

#cv-nav h2 {
    margin: 0;
    display: flex;
    align-items: center;
}

#cv #bouncing-arrow {
    z-index: 10;
}

#cv .name {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 32px;
    font-weight: 700;
}

#profile-picture {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    border-radius: 100%;
    margin-top: 10vh;
}

#intro h1 {
    margin-bottom: 0;
}

#intro h3 {
    margin-top: 0;
}

#intro .dash-black {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#about-me {

}

#studies h4 {
    color: var(--true-white);
    margin: 2vh 0;
}

#studies h3 {
    margin-top: 0;
}

#studies img {
    max-width: 100px;
    margin-bottom: 2vh;
}

#references #note {
    color: var(--true-white);
}

#cv #cta .cta-content {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 10vh;
    margin-bottom: 0;
}

#cv .cta-content h2, #cv .cta-content h3 {
    margin-top: 0;
    margin-bottom: 3vh;
}

#cv #hobbies i {
    color: var(--true-white);
    padding-bottom: 2vh;
}

#cv #hobbies #icons-row {
    justify-content: space-evenly;
}

#cv .progress-title {
    margin-bottom: 0;
    margin-top: 2vh;
}

#cv .progress-bg {
    display: block;
    height: 22px;
    overflow: hidden;
    background-color: var(--true-white);
    border: 2px solid var(--primary-black);
}

@keyframes progress {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

#cv .progress-bar {
    margin-top: -2px;
    margin-left: -2px;
    background-color: var(--primary-red);
    height: 22px;
    border: 2px solid var(--primary-black);
    animation: progress 2s ease-in-out;
    transform-origin: 0% 50%;
}


#cv #competences .bullet-list > .col-6 {
    margin-top: 2vh;
}

#cv #competences .bullet-list p {
    margin: 0;
}

#cv #competences .fa-circle {
    --fa-secondary-color: #AE0000;
    --fa-secondary-opacity: 0;
}

#cv #competences .fa-circle.full {
    --fa-secondary-opacity: 0.8;
}

#cv #competences #office .col-6 {
    margin-top: 5vh;
}