footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: var(--primary-black);
    color: var(--true-white);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h4 {
    font-size: 14px;
    text-transform: none;
    margin-bottom: 10px;
}

footer ul>li, footer ul>li>a {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 0.05em;
}

/* Footer top */

#footer-top>div:first-of-type {
    display: flex; 
}

#footer-top img {
    max-width: 80px;
}

#footer-cta {
    padding-left: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}


/* Footer bottom */

#footer-bottom {
    padding-top: 30px;
    align-items: flex-end
}

#footer-bottom i, #footer-bottom p, #footer-bottom a {
    font-size: 14px;
    margin: 0;
}

#footer-icons-list {
    display: flex;
    margin: 0;
}

#footer-icons-list>li {
    margin: 0;
}

#footer-icons-list i{
    padding-right: 20px;
}