/* Futura PT */
@import url("https://use.typekit.net/emt7guk.css");

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
 * Screen sizes steps : 576px - 768px - 992px - 1200px
 */

/* Colors */
:root {
    --true-white: #ffffff;
    --faded-white: #fafafa;

    --primary-red: #AE0000;
    --secondary-red: #C72400;
    --third-red: #710b00;

    --rgb-primary-red: 174, 0, 0;
    --rgb-secondary-red: 199, 36, 0;
    --rgb-third-red: 113, 11, 0;

    --rgb-primary-black: 43, 35, 35;

    --primary-black: #2B2323;
    --secondary-black: #696969;
    --dark-theme-black: #121212;

    --true-black: #000000;

    --main-menu-height: 10vh;
}

html {
    color: var(--primary-black);
    scroll-behavior: smooth;
}

body {
    background-color: var(--faded-white);
    min-height: 100vh;
    margin: 0;

    overflow-x: hidden;

    display:grid;
    grid-template-rows: 10vh 1fr auto;
}

.color-primary {
    color: var(--primary-red)!important;
}

.bg-dark {
    background-color: var(--primary-black)!important;
}

.bg-dark p, .bg-dark h2, .bg-dark h3 {
    color: var(--true-white);
}

/* Gradient */

/*background: linear-gradient(135deg, 
    rgb(var(--rgb-primary-red)) 0%, 
    rgb(var(--rgb-secondary-red)) 50%, 
    rgb(var(--rgb-third-red)) 100%
);*/

/* Boostrap edits */ 
.container {
    padding: 0 15px;
}

@media (min-width: 576px) {.container {max-width: 700px; padding: 0 30px;}}

@media (min-width: 768px) {.container {max-width: 920px; padding: 0 50px;}}

@media (min-width: 992px) {.container {max-width: 1040px; padding: 0 50px;}}

@media (min-width: 1200px) {.container {max-width: 1320px; padding: 0 50px;}}


.row {
    margin-right: -15px;
    margin-left: -15px;
}

/*
@media (prefers-color-scheme: dark) {
    html {
        color: var(--true-white);
    }

    body {
        background-color: var(--dark-theme-black);
    }

    img {
        filter: brightness(.9) contrast(1.1);
    }

    .color-primary, .color-red {
        color: var(--secondary-red)!important;
    }

    nav {
        background-color: var(--primary-black);
    }

    #burger-menu {
        color: var(--true-white);
    }

    h1, h2, h3, h4, h5, h6, p {
        color: var(--true-white);
    }

    #particles-cache {
        background: rgb(18, 18, 18);
        background: -moz-linear-gradient(90deg, rgba(18, 18, 18,1) 40%, rgba(255,0,0,0) 90%);
        background: -webkit-linear-gradient(90deg, rgba(18, 18, 18,1) 40%, rgba(255,0,0,0) 90%);
        background: linear-gradient(90deg, rgba(18, 18, 18,1) 40%, rgba(255,0,0,0) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#ff0000",GradientType=1); 
    }
}
*/