/* Layouts */

/* Large desktop */
.container {
    max-width: 1200px;
}

/* Medium desktop */
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

/* Small desktop */
@media only screen and (max-width: 992px) {
    .container {
        max-width: 820px;
    }
}

/* Tablette */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 680px;
    }
}

/* Mobile */
@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

/* Hero sections */

.hero-section {
    min-height: 90vh;
    padding-top:  var(--main-menu-height);
}

.hero-section h1 {
    margin-top: 80px;
    margin-bottom: 60px;
}

#hero-description>a {
    margin-top: 40px;
}

#hero-list>ul {
    padding-inline-start: 24px;
    padding-left: 80px;

}

#hero-list>ul>li::before {
    background-color: var(--primary-red);
    box-sizing: border-box;
    content: "";
    display: block;
    height: 3px;
    left: -80px;
    position: relative;
    top: 20px;
    width: 50px;
    transition: width 0.5s ease-in-out;
}

#hero-list>ul>li>h3 {
    margin: 0;
}

#hero-list>ul>li>h3>a {
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.2px;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 150%;
}

/* /Hero sections */


/* /Layouts */