.maintenance-page h2 {
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 400;
}

.maintenance-page h3 {
    color: var(--primary-red);
}

/* Sections */
#maintenance-header {
    padding-top: 100px;
    padding-bottom: 150px;
    display:block;
    position: relative;
}

#maintenance-header::after {
    background-position: center;
    background-size: cover;
    content: "";
    background-image: url('/storage/layout/maintenance.png');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

#maintenance-desc {
    padding : 100px 0;
}