nav {
    width: 100vw;
    background-color: var(--true-white);
    height:  var(--main-menu-height);
    position: sticky;
    z-index: 101;
    top: 0;
}

#burger-menu {
    color: var(--primary-black);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

#burger-menu .fa-times {
    display: none;
}

#burger-menu .fa-align-right {
    display: block;
}

#burger-menu > i {
    font-size: 28px;
}

#burger-menu::after {
    content: "menu";
    font-size: 8px;
    text-transform: uppercase;
}

#burger-menu.open::after {
    content: "fermer";
}

#burger-menu.open .fa-times {
    display: block;
}

#burger-menu.open .fa-align-right {
    display: none;
}

/* Nav logo */ 
nav>.container, nav .logo {
    height: 100%;
}

nav>.container {
    display: flex;
    vertical-align: middle;
}

nav .logo {
    width: 25%;
    display:flex;
    align-content: center;
}

nav .logo img {
    height: auto;
    max-width: 200px;
    max-height: 40px;
    align-self: center;
}

/* /Nav logo */ 

/* Nav menu */ 
nav .main-menu {
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

#menu>li {
    height: 100%;
    display: flex;
    align-content: center;
    padding: 0 1rem;
}

#menu>li>a:not(.btn) {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;

    display: flex;
    height: 100%;
    align-items: center;
}

nav .menu-cta {
    display: flex;
    align-items: center;
}

nav .menu-cta > a{
    font-size: 16px;

}

#menu>li>a:hover, #menu>li>a:active {
    color: var(--primary-red);
    text-decoration: none;
}

/* Sub-menu */

nav .sub-menu:hover>.sub-menu-box, nav .sub-menu>.sub-menu-box:hover {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out,
        visibility 0.1s linear;
}
nav .sub-menu>.sub-menu-box {
    opacity: 0;
    display:block;
    visibility: hidden;
    position: absolute;
    top: var(--main-menu-height);
    left: 0;
    width: 100%;
    background: var(--true-white);
    transition: opacity 0.3s ease-in-out,
    visibility 0.1s linear;
}

nav .sub-menu ul {
    padding-top: 20px;
    padding-bottom: 20px;

    /* Inner shadow */ 
    -moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
}

nav .sub-menu ul li>a {
    font-weight: 600;
    font-size: 16px;
}

nav .sub-menu ul li:not(.sub-menu-title) {
    padding-top: 12px;
}

nav .sub-menu ul li:not(.sub-menu-title)>a::after {
    font-family: "Font Awesome 5 Pro"; 
    font-weight: 900;
    content: "\f054";
    margin-left: 10px;
    font-size: 75%;
}

nav .sub-menu .sub-menu-title {
    text-transform: uppercase;
    color: var(--secondary-black);
    border-bottom: 2px solid var(--primary-red);
    padding-bottom: 3px;
}

nav .sub-menu .sub-menu-title>a {
    letter-spacing: 0.1em;
    line-height: 100%;
}

.sub-menu>a::after {
    font-family: "Font Awesome 5 Pro"; 
    font-weight: 900;
    content: "\f078";
    margin-left: 5px;
    font-size: 75%;
}

/* Social icons */
#socials {
    display: flex;
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 25px;
    flex-direction: column;
    text-align: right;
}

#socials > a {
    margin-bottom: 10px;
    font-size: 20px;
}

#socials .fa-circle {
    color: var(--primary-black);
    transition: color 0.2s ease-in-out;
   
}

#socials > a > .social-text-container {
    position: absolute;
    right: 20px;
    width: 300px;
    overflow: hidden;
    margin-top: 2px;
}

#socials > a small {
    position: relative;
    right: -500px;
    transition: right 0.5s ease-in-out;
    background-color: var(--true-white);
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    padding: 5px 15px;
}

#socials > a:hover small {
    right: 15px;
    transition: right 0.5s ease-in-out;
    color: var(--primary-black);
}

#socials>a:hover .fa-circle {
    color: var(--primary-red);
    transition: color 0.2s ease-in-out;
}

/* /Nav menu */ 

/* Categories menu */ 
#cat-menu {
    display: flex;
    height: 5vh;
    position: sticky;
    z-index: 100;
    top: var(--main-menu-height);
}

#cat-menu > .container {
    overflow: hidden;
    padding-right: 0px;
}

#cat-menu ul {
    display: flex;
    padding: 0;
    overflow-x: scroll;
    margin: 0;
}

#cat-menu ul > li > a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--primary-black);
    opacity: 0.7;
    padding: 0 15px;
    margin: 0 10px;
    border-radius: 15px;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

#cat-menu ul > li > a.selected, #cat-menu ul > li > a:hover {
    background-color: var(--primary-black);
    color: var(--true-white);
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

/* /Categories menu */ 

/* Tablette */ 
@media (max-width: 1199px) {
    nav .logo {
        width: 20%;
    }
    nav .logo img {
        max-height: 30px;
    }

}

/* ############ Mobile ############# */
@media (max-width: 991px) { 
    #socials > a > .social-text-container {
        display: none;
    }
    nav .logo {
        width: 100%;
    }

    #menu>li>a:not(.btn) {
        font-size: 18px;
    }

    /* Burger menu */ 
    #burger-menu {
        display: flex;
    }

    #burger-menu.open + #menu {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }

    #menu {
        position: fixed;
        width: 100vw;
        top: var(--main-menu-height); /* 12vh */
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        min-height: 88vh;
        flex-direction: column;
        justify-content: normal;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
        background-color: var(--true-white);

        transform: translateX(100vw);
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
        overflow-y: scroll;
    }

    #menu > li {
        height: auto;
        width: 100%;
        margin: 0;
        border-bottom: 1px #868686 solid;
        background-color: var(--true-white);
        padding-left: 0;
    }

    #menu > li:last-of-type {
        border-bottom: none;
        padding-top: 20px;
    }

    #menu > li > a {
        width: 100%;
        max-height: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #menu .sub-menu > a::after {
        transform: rotate(-90deg);
        transition: transform 0.2s ease-in-out;
    }

    #menu .sub-menu > a.deployed::after {
        transform: rotate(0);
        transition: transform 0.2s ease-in-out;
    }

    nav .sub-menu {
        flex-direction: column;
    }

    nav .sub-menu>.sub-menu-box {
        opacity: 1;
        visibility: visible;
        display: block;
        position: relative;
        top: 0;
        left: 0;

        height: 0px;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    #sub-menu-btn.deployed {
        max-height: 60px;
    }

    #sub-menu-btn.deployed + .sub-menu-box {
        height: 100%;  
        transition: height 0.5s ease-in-out; 
    }

    nav .sub-menu>.sub-menu-box > .container {
        padding: 0;
    }

    nav .sub-menu ul {
        box-shadow: none;
        padding-top: 0;
    }

    .sub-menu-title {
        padding-top : 10px;
    }

    nav .sub-menu ul li:not(.sub-menu-title)>a::after {
        content: "";
    }

    #socials {
        display: flex;
        position: initial;
        z-index: 100;
        flex-direction: row;
        width: 100%;
        margin-top: 20px;
    }

    #socials > a {
        margin-bottom: 0;
        margin-right: 10px;
    }

    #socials > a > small {
        display: none;
    }
}