#project-header {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#project-header h1, #project-header .categories, #project-header p, #project-header .section-title {
    margin-bottom: 5vh;
}

#project-header .categories > a {
    color: var(--secondary-black)!important;
}

#project-main {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#project-main h3, #project-main p {
    margin-bottom: 5vh;
}

#project-main img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.project-section {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#project-header .categories > .category + .category::before {
    content: ", ";
}

#project-design .big-image {
    width: 100%;
}

/* --------- Gallery ----------- */
#gallery {
    margin-bottom: 10vh;
}

#gallery .gallery-img-container {
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(0);
    transition: .3s;
}


#gallery .gallery-img-container:hover {
    transform: scale(1.1);
    filter: grayscale(0);
    cursor: pointer;
}

#gallery .full-size-img-container {
    position: fixed;
    z-index: 101;
    background-color: rgba(43,35,35,.8);
    height: 100vh;
    left: 0;
    width: 100vw;
    top: 0;
    transition: .3s;
    align-content: center;
}

#gallery .full-size-img {
    opacity: 1;
    z-index: 102;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    transition: .3s;
    max-width: 80%;
    max-height: 90%;
    display: flex;
    align-self: center;
}

#prev-btn, #next-btn, #close-btn {
    background: none;
    border: none;
    font-size: 5rem;
    color: var(--true-white);
    position: absolute;
    transition: .3s;
}

#prev-btn:hover, #next-btn:hover, #close-btn:hover {
    color: var(--primary-red);
    transition: .3s;
}

#prev-btn:active, #next-btn:active, #close-btn:active,
#prev-btn:focus, #next-btn:focus, #close-btn:focus
{
    color: var(--secondary-black);
    border: none;
}


#prev-btn {
    top: 50%;
    left: 10px;
}

#next-btn {
    top: 50%;
    right: 10px;
}

#close-btn {
    top: 10px;
    right: 10px;
    font-size: 3.5rem;
}

@media (max-width: 991px) {
    #gallery .gallery-img-container:hover {
        transform: scale(1.03);
    }
    #prev-btn, #next-btn {
        font-size: 3.5rem;
    }

    #close-btn {
        font-size: 2.5rem;
    }

    #prev-btn {
        left: 15px;
    }

    #next-btn, #close-btn {
        right: 15px;
    }
}

/* ----------------------- */

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.iframe-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#big-images-container > img:first-of-type {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#big-images-container > img:last-of-type {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.carousel {
    width: 100%;
}

.carousel .carousel-cell {
    width: 100%;
}

.carousel .carousel-cell  .project {
    min-height: 70vh;
    margin-left: 60px;
}

/* DOTS */ 
.flickity-page-dots {
    bottom: 0px;
}
/* white circles */
.bg-white .flickity-page-dots .dot {
    border: 2px solid var(--primary-black);;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid var(--true-white);
}
/* fill-in selected dot */
.bg-white .flickity-page-dots .dot.is-selected {
    background: var(--primary-black);
}

.flickity-page-dots .dot.is-selected {
    background: var(--true-white);
}


/* BUTTONS */ 

/* no circle */
.flickity-button {
    background: transparent;
    
}

.bg-white .flickity-button path {
    fill: var(--primary-black);
    transition: .3s;
}

.flickity-button path {
    fill: var(--true-white);
    transition: .3s;
}

.flickity-button:hover {
    background: transparent;
}


.flickity-button:hover path {
    fill: var(--primary-red);
    transition: .3s;
}
/* big previous & next buttons */
.flickity-prev-next-button {
    width: 50px;
    height: 50px;
}
/* icon color */
.bg-white .flickity-button-icon {
    fill: var(--primary-black);
}

.flickity-button-icon {
    fill: var(--true-white);
}
/* hide disabled button */
.flickity-button:disabled {
    display: none;
}

@media (max-width: 768px) {
    #project-solution .gallery .gallery_column {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .flickity-button {
        display: none!important;
    }

    .carousel .carousel-cell  .project {
        min-height: 70vh;
        margin-left: 0px;
    }
}