#service-header {
    min-height: 90vh;
    padding-bottom: 15vh;
}

#service-header h1 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#hero-description a {
    margin-top : 40px;
}

#hero-list {

}

#hero-list li {
    margin-left: 74px;
    margin-bottom: 15px;
}

#hero-list li::before {
    display: block;
    position: relative;
    content: "";
    width: 54px;
    top: 20px;
    left: -74px;
    height: 3px;
    background-color: var(--primary-red);
}

#hero-list a {
    font-size: 24px;
    font-family: futura-pt, 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
}

#bouncing-arrow {
    color: var(--primary-red);
    font-size: 50px;
    position: relative;
    bottom: -3rem;
    width: 40px;
    height: 40px;
    transition: color 0.2s ease-in-out;
}

#bouncing-arrow>i {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

#bouncing-arrow:hover, #bouncing-arrow:focus {
    color: var(--primary-black);
}

/* Services */ 

.service {
    padding: 150px 0;
    align-items: center;
}

.service h2 {
    margin-bottom: 40px;
}

.service .service-image > img {
    max-width: 100%;
    border-radius: 15px;
}

.services-second-part {
    margin : 10vh auto;

}

/* Accordions */
.accordion {
    padding: 25px 0;
    border-bottom: 1px solid var(--primary-black);
}

.bg-dark .accordion {
    border-color: var(--true-white);
}

.bg-dark .accordion > h3 > button {
    color: var(--true-white);
}

.accordion > h3 {
    margin: 0;
    margin-right: 15px;
}

.accordion > h3 > button {
    background: transparent;
    border: none;
    font: inherit;
    text-transform: inherit;
    text-align: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.accordion > h3 > button:focus, .accordion > h3 > button:hover {
    outline: none;
    color: var(--primary-red);
}

.accordion .plus-sign {
    float: right;
}

.accordion-content {
    padding-top: 25px;
    margin: 0;
}


/* .Services */